@keyframes spinner {
    0%{
        transform: rotate(0deg); 
    }
    50%{
        width: 11.5%;
    }
    100%{
        transform: rotate(360deg); 
    }
}

.skill-holder{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 2rem;

    .skill-container{
        width: 10%;
        position: relative;
        margin: 0 1.5em;
        img{
            display: block;
            width: 100%;
        }
        .htmlogo::before{
            content: 'HTML5';
            height: 2px;
            position:relative;
        }
        .csslogo::before{
            content: 'CSS3';
            height: 2px;
            position:relative;
        }
        .jslogo::before{
            content: 'Javascript';
            height: 2px;
            position:relative;
        }
        .reactlogo::before{
            content: 'React';
            height: 2px;
            position:relative;
        }
    }
    .skill-container:hover{
        animation: spinner 1s;
        font-family: DotGothic16;
        font-weight: bold;
     }
}

/*css for the certificates carousel*/
.slide-holder{
    padding: 0 20px;
    margin-top: 10px;
    height:auto;

    .slider{
        display:flex;
        justify-content: center;
        align-items: center;
        background: #c2e2de;
        border-radius: 15px;
        margin-top: 10px;
        
        .slide img{
            width: 500px;
            height: 300px;
        }
    }
}