/* font-family: 'Poppins', sans-serif; */
@import url(https://fonts.googleapis.com/css?family=Poppins:200i,300,400&display=swap);
/* font-family: 'Raleway', sans-serif; */
@import url(https://fonts.googleapis.com/css?family=Raleway:700&display=swap);
/* font-family: 'DotGothic16', sans-serif; */
@import url(https://fonts.googleapis.com/css2?family=DotGothic16&display=swap);
/* font-family: 'Nunito', sans-serif; */
@import url(https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,300&display=swap);
/* font-family: 'Ballet', cursive; */
@import url(https://fonts.googleapis.com/css2?family=Ballet&family=Oi&display=swap);
/* font-family: 'Metrophobic', sans-serif; */
@import url(https://fonts.googleapis.com/css2?family=Metrophobic&display=swap);
.skill-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.skill-holder .skill-container {
  width: 10%;
  position: relative;
  margin: 0 1.5em;
  -webkit-transition: -webkit-transform .6s ease;
  transition: -webkit-transform .6s ease;
  transition: transform .6s ease;
  transition: transform .6s ease, -webkit-transform .6s ease;
}

.skill-holder .skill-container img {
  display: block;
  width: 100%;
}

.skill-holder .skill-container .htmlogo::before {
  content: 'HTML5';
  height: 2px;
  position: relative;
}

.skill-holder .skill-container .csslogo::before {
  content: 'CSS3';
  height: 2px;
  position: relative;
}

.skill-holder .skill-container .jslogo::before {
  content: 'Javascript';
  height: 2px;
  position: relative;
}

.skill-holder .skill-container .reactlogo::before {
  content: 'React';
  height: 2px;
  position: relative;
}

.skill-holder .skill-container:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  font-family: DotGothic16;
  font-weight: bold;
}

/*css for the certificates carousel*/
.slide-holder {
  padding: 0 20px;
  margin-top: 10px;
  height: auto;
}

.slide-holder .slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #c2e2de;
  border-radius: 15px;
  margin-top: 10px;
}

.slide-holder .slider .slide img {
  width: 500px;
  height: 300px;
}

/* project gallery css*/
.project-cont {
  max-height: 85%;
  width: 100%;
  padding: 15px;
}

.project-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project-holder .projitem {
  width: 25%;
  position: relative;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  margin: 1.2rem;
}

.project-holder .projitem img {
  width: 100%;
  display: block;
}

.project-holder .projitem .caption {
  position: absolute;
  left: 0px;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  width: 100%;
  color: #ffffff;
  text-align: center;
}

.project-holder .projitem:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  z-index: 2;
}

.pagination {
  position: absolute;
  width: 100%;
  padding-top: 13px;
  padding-bottom: 0;
  text-align: center;
  list-style-type: none;
}

.pagination li {
  padding: 0.89rem;
  display: inline-block;
}

.pagination a {
  cursor: pointer;
  outline: none;
}

.pagination .previous {
  background-image: url("./imgs/backicon.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding-left: 1.1em;
  outline: none;
}

.pagination .previous a {
  display: inline-block;
  height: 15px;
  width: 15px;
}

.pagination .next {
  background-image: url("./imgs/nexticon.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding-right: .99em;
  outline: none;
}

.pagination .next a {
  display: inline-block;
  height: 15px;
  width: 15px;
}

.pagination .previous:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.pagination .next:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.pagination .activepage {
  padding: 0.5rem;
  border: 1px solid cyan;
  border-radius: 2px;
  background-color: cyan;
  -webkit-animation: show .5s ease;
          animation: show .5s ease;
}

.pagination .disabled {
  border-color: gray;
  color: gray;
  pointer-events: none;
}

/* contact form css*/
.contact-body {
  height: 100%;
  border: 2px solid cyan;
}

.contact-body .contact-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 2em;
  border: 2px solid red;
  height: 80%;
}

.contact-body .contact-start .contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 2px solid green;
  min-width: 75%;
  height: 88%;
}

.contact-body .contact-start .contact-form input {
  margin-bottom: 1.4rem;
  border-radius: 3px;
  padding: .65rem;
  -webkit-box-shadow: 2.5px 5px .5rem #888888;
          box-shadow: 2.5px 5px .5rem #888888;
}

.contact-body .contact-start .contact-form textarea {
  resize: vertical;
  overflow: auto;
  max-height: 270px;
  min-height: 150px;
  padding-bottom: 80px;
}

.contact-body .contact-start .contact-form input::-webkit-inner-spin-button,
.contact-body .contact-start .contact-form input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.contact-body .contact-start .contact-form input[type=number] {
  -moz-appearance: textfield;
}

.contact-body .contact-links {
  border: 2px solid magenta;
  position: relative;
  width: 100%;
}

.contact-body .contact-links .git-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 12px 15px;
}

.contact-body .contact-links .git-links a {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 0 15px;
  background-color: #fff;
  text-align: center;
  -webkit-transition: .6s;
  transition: .6s;
  -webkit-box-shadow: 0 5px 4px rgba(0, 0, 0, 0.5);
          box-shadow: 0 5px 4px rgba(0, 0, 0, 0.5);
}

.contact-body .contact-links .git-links a:hover, .contact-body .contact-links .git-links a:focus {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.contact-body .contact-links .git-links a:nth-child(1):hover,
.contact-body .contact-links .git-links a:nth-child(1):focus {
  background-color: #131418;
}

.contact-body .contact-links .git-links a:nth-child(2):hover,
.contact-body .contact-links .git-links a:nth-child(2):focus {
  background-color: #0077B5;
}

.contact-body .contact-links .git-links a:nth-child(3):hover,
.contact-body .contact-links .git-links a:nth-child(3):focus {
  background-color: #55acee;
}

.contact-body .contact-links .git-links .fab {
  font-size: 30px;
  line-height: 60px;
  -webkit-transition: .6s;
  transition: .6s;
  color: #000;
}

.contact-body .contact-links .git-links .fab:hover {
  color: #fff;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.container {
  background-image: linear-gradient(62deg, #3a3d40 0%, #3b3442 100%);
  position: relative;
  /* NavBar Design*/
  /* Home or Landing Page Design*/
  /* About me section*/
  /* My works section*/
  /* Contacts section under _contactform.scss*/
}

.container .home, .container .about {
  height: 100vh;
}

.container .navibar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  -webkit-transition: .6s;
  transition: .6s;
}

.container .navibar ul {
  float: right;
  list-style-type: none;
  padding: 5px;
  font-weight: bold;
  -webkit-transition: .6s;
  transition: .6s;
  font-size: 1.5rem;
  font-family: 'Poppins', sans-serif;
}

.container .navibar li {
  padding-right: 20px;
  display: inline-block;
}

.container .navibar a {
  color: #000000;
  text-decoration: none;
  display: inline-block;
  outline: none;
}

.container .navibar a::after {
  content: '';
  display: block;
  height: 2px;
  left: 1em;
  right: 1em;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 150ms ease-in-out;
  transition: -webkit-transform 150ms ease-in-out;
  transition: transform 150ms ease-in-out;
  transition: transform 150ms ease-in-out, -webkit-transform 150ms ease-in-out;
  background: #fff;
}

.container .navibar a:hover::after,
.container .navibar a:focus::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.container .navibar.activate {
  -webkit-transition: .6s;
  transition: .6s;
  background-color: #56565a;
}

.container .navibar.activate ul {
  -webkit-transition: .6s;
  transition: .6s;
  font-size: 1.2rem;
}

.container .home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
}

.container .home .center-info {
  font-family: DotGothic16, Arial, Helvetica, sans-serif;
  width: 50%;
  padding: 0.8em;
}

.container .home .center-info h1 {
  font-family: 'Metrophobic', sans-serif;
  font-size: 2rem;
  color: #363d47;
  padding-bottom: 0.7rem;
}

.container .home .center-info p {
  color: #363d47;
  font-weight: 400;
  line-height: 1.5;
}

.container .home .center-info .know-more {
  color: #fff;
  border-radius: 4px;
  font-size: 0.8em;
  background-color: #2d3436;
  padding: 0.8em;
  margin-right: 1em;
  font-family: DotGothic16, Arial, Helvetica, sans-serif;
  cursor: pointer;
  font-weight: bold;
  outline: none;
  -webkit-transition: -webkit-transform 0.1s ease-out;
  transition: -webkit-transform 0.1s ease-out;
  transition: transform 0.1s ease-out;
  transition: transform 0.1s ease-out, -webkit-transform 0.1s ease-out;
}

.container .home .center-info button::after {
  content: '';
  position: relative;
  width: 0.8rem;
  height: 0.8rem;
  border-right: .1em solid #fff;
  border-bottom: .1em solid #fff;
  -webkit-transition: -webkit-transform 0.1s ease-in-out;
  transition: -webkit-transform 0.1s ease-in-out;
  transition: transform 0.1s ease-in-out;
  transition: transform 0.1s ease-in-out, -webkit-transform 0.1s ease-in-out;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  display: inline-block;
  margin-right: .5em;
  margin-left: .5em;
  margin-top: .1rem;
}

.container .home .center-info button:hover::after, .container .home .center-info button:focus::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: -webkit-transform .1s ease-in-out;
  transition: -webkit-transform .1s ease-in-out;
  transition: transform .1s ease-in-out;
  transition: transform .1s ease-in-out, -webkit-transform .1s ease-in-out;
}

.container .home .center-info .know-more:active {
  -webkit-transform: translateY(8px);
          transform: translateY(8px);
}

.container .home .coderhandler {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .home .coderhandler img {
  padding-right: 2rem;
  width: 70%;
}

.container .about {
  text-align: center;
  font-family: 'Nunito', sans-serif;
  line-height: 1.3rem;
  background-color: #f3eaea;
}

.container .about h2 {
  padding-top: 1.7em;
  padding-bottom: 1.8rem;
  font-size: 34px;
  font-weight: bold;
}

.container .works h2 {
  font-size: 36px;
  margin: 0 0 30px;
  color: #000000;
  text-align: center;
}
/*# sourceMappingURL=App.css.map */